
#header {
	margin: 0px;
	height: 80px;
	background-color: #082759;
	color: white;
	display: flex;
	
}
#subhead {
	font-style: italic;
	font-size: 11px;
}
#left{
	position: relative;
}
#head {
	
	
	
}
#user{
	position: relative;
}
#logout{
	position: relative;
}
