

<body>
    <app-continuereading *ngIf = "displayPopUp" [data] = "popUpData" (display) = "displayPopUp=false" >

    </app-continuereading>
    <div  *ngFor="let news of data | keyvalue">
        <app-newscell *ngFor="let item of news.value | keyvalue" [image] = "item.value.imageurlText" [source] = "item.value.sourceText"  [date] = "item.value.dateText" [description] = "item.value.contentText" [author] = "item.value.authorText" (continueReadingPressed) = "continueReadingPressed($event)">
        
        </app-newscell>
    </div> 
</body>

