.lowerbuttons{
    background-color:black;
    margin-right: 500px;
    width: 5%;
    height: 30px;
    color: white;
}
#short-description-input{
    height: 50px;;
}
#content-input{
    height: 70px;
    resize: horizontal;
}
#flex_div{
    display: flex;
}
#left_div{
    margin-right: 350px;
}
#right_deiv{
    margin-left: 350px; 
}
#button_div{
    display: flex;
    margin-top: 50px; 
}