<aside>
    <p ><b>SELECT CATEGORY</b></p>
    
   <select id="dropdown" (change) = "changedNews($event.target.value)"> 
       <option value="all" selected> <a>All</a></option>
       <option *ngFor="let news of newsList | keyvalue" value={{news.key}}>
          <a>
             {{news.key}}
         </a>   
      </option>
    </select>
    <p id="side-panel-subscribe-text"><b>SUBSCRIBE</b></p>
    <br>
    <input type = "text"  placeholder="Email Address" id="input">
    <button id="subscribe-button">Subscribe</button> <br><br>
    <!-- <a routerLink= "addarticle"><button id="add-news"> Add News</button></a> -->
    <button id="add-news" (click) = "addNewsClicked()"> Add News</button>
 </aside>